<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.businesscard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ManageProfile" />
        <activity android:name=".Activity.HorizontalCards" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/profile" />
        <activity android:name=".Activity.GreenCardActivity" />
        <activity android:name=".Activity.RedCardActivity" />
        <activity android:name=".Activity.FontActivity" />
        <activity android:name=".Activity.VerticleCards" />
        <activity android:name=".Activity.SquareCards" />
        <activity android:name=".Activity.SquareFirst" />
        <activity android:name=".Activity.SquareSecond" />
        <activity android:name=".Activity.SquareThird" />
        <activity android:name=".Activity.SquareFourth" />
        <activity android:name=".Activity.SquareFifth" />
        <activity android:name=".Activity.SquareSix" />
        <activity android:name=".Activity.VerticleFirst" />
        <activity android:name=".Activity.VerticleSecond" />
        <activity android:name=".Activity.VerticleThird" />
        <activity android:name=".Activity.VerticleFourth" />
        <activity android:name=".Activity.VerticleFifth" />
        <activity android:name=".Activity.VerticleSix"></activity>
    </application>

</manifest>